/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 528px;

// Small tablets
$screen-md-min: 730px;

// Large tablets and small desktops
$screen-lg-min: 974px;

// Large desktops
$screen-xl-min: 1167px;

// Colors
$white: #fff;
$black: #000;
$secondary: #080808;
$primary: #EEEEEE;
$tertiary: #1A4B58;
$h3: #338595;
$footer: #E1593C;
$icons: #6B6B6B;
