/* =============
    Footer
============= */
footer{
    background-color: $secondary;
    padding: 15% 0;

    @include md{
        padding: 8% 0;
    }
    @include lg{
        padding: 4% 0;
    }

    nav{

        ul{
            display: flex;
            justify-content: center;
            align-items: center;

            li{
                padding: 0 2%;

                a:link, a:visited{
                    color: $icons;
                    font-size: rem-calc(24);

                    @include md{
                        font-size: rem-calc(30);
                    }
                    @include lg{
                        font-size: rem-calc(40);
                    }
                }
                a:hover, a:active{
                    color: $footer;
                }
            }
        }
    }

    h4{
        font-size: rem-calc(11);
        color: $footer;
        text-align: center;
        padding-top: 5%;
        font-weight: 400;

        @include md{
            font-size: rem-calc(14);
            padding-top: 3%;
        }

        span{
            color: $white;
        }
    }
}
