/* =============
    Journal
============= */
#journal {
    padding-top: 15%;
    @include lg {
        padding-top: 5%;
    }

    aside {
        h1 {
            font-family: 'Montserrat', sans-serif;
            font-size: rem-cal(32);
            font-weight: 700;
            text-align: center;
            @include md {
                padding-bottom: 5%;
            }
            @include lg {
                font-size: rem-calc(40);
                padding-bottom: 5%;
            }
        }
    }

    section:nth-child(2) {
        ul {
            @include md {
                display: grid;
                grid-template-areas: ". part-1 part-1 . part-2 part-2 ." ". . part-3 part-3 part-3 . .";
                grid-template-columns: 10% auto auto 5% auto auto 10%;
            }
            @include lg {
                grid-template-areas: ". part-1 . part-2 . part-3 .";
                grid-template-columns: 4% auto 4% auto 4% auto 4%;
            }
            @include xl {
                grid-template-areas: ". . part-1 . part-2 . part-3 . .";
                grid-template-columns: auto 4% 304px 4% 304px 4% 304px 4% auto;
            }

            li {
                background-color: $primary;
                margin-bottom: 8%;

                @include lg{
                    margin-bottom: 15%;
                }

                h1 {
                    color: $secondary;
                    font-family: 'Montserrat', sans-serif;
                    font-size: rem-cal(28);
                    font-weight: 700;
                    padding: 5% 0;
                    text-align: center;
                }

                p {
                    color: $secondary;
                    font-family: 'Lato', sans-serif;
                    font-size: rem-calc(19);
                    padding: 0 20px;
                }

                p:last-child {
                    font-weight: 700;
                    padding: 5% 20px;
                }
            }

            li:nth-child(1) {
                grid-area: part-1;

                div {
                    background-image: url("../img/journal/sign.jpg");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 200px;
                }
            }

            li:nth-child(2) {
                grid-area: part-2;

                div {
                    background-image: url("../img/journal/pattern.jpg");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 200px;
                }
            }

            li:nth-child(3) {
                grid-area: part-3;
                margin-bottom: 15%;

                div {
                    background-image: url("../img/journal/cards.jpg");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 200px;
                }
            }
        }
    }
}
